
Resources/config
Resources/credits.csv
Resources/keywords.csv
Resources/links.csv
Resources/links_small.csv
Resources/movies_metadata.csv
Resources/ratings.csv
Resources/ratings_small.csv
Resources/wikipedia-movies.json
.DS_Store
config_file.py
*.xml
*.iml
configuration_file
